.about-us-intro-wrapper {
  display: flex;
  flex-direction: column;
}

.about-us-heading {
  margin-bottom: px2rem(50);
}

.section-wrapper {
  border-radius: px2rem(12) !important;
}

.section-scroller {
  height: px2rem(500);
  overflow-y: scroll;
  overflow-x: hidden;

  .about-us-sec {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: px2rem(600);
  }

  &.section-scroller::-webkit-scrollbar {
    width: 0 !important;
  }
}

@media screen and (max-width: px2rem(480)) {
  .about-us-heading {
    font-size: px2rem(20);
    left: px2rem(25);
  }

  .section-wrapper {
    border-radius: px2rem(12) !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
