#about-us-page {
  background-color: lightgray;
  margin-top: 24px;
  overflow: hidden;
  max-width: 950px;
}

.about-us-text {
  margin-top: 48px;
  padding-left: 48px;

  .about-us-main-heading {
    font-size: 72px;
    margin-bottom: 48px;
  }

  .about-us-sub-heading {
    font-size: 22px;
    margin-bottom: 48px;
  }

  .about-us-description {
    font-size: 20px;
    font-weight: 400;
  }
}

.about-us-image {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media screen and (max-width: 480px) {
  #about-us-page {
    background: none;
  }

  #about-us-wrapper {
    flex-direction: column-reverse;
  }

  .about-us-text {
    margin: 0;
    padding: 0;
  }

  .about-us-image {
    height: 240px;
    padding: 8px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
