@import "../main.scss";

#about-us-hero-brand {
  margin-top: 32px;
  height: 50px;
}

#about-us-hero-main {
  margin-top: 24px;

  .about-intro-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 65vh);
    justify-content: center;
  }
}

#about-us-mission {
  margin-top: 24px;
  .about-us-mission-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .about-us-mission-statement {
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: 480px) {
  #about-us-hero-main {
    .about-intro-wrapper {
      height: calc(100vh - 45vh);
    }
  }
}
