@import '../main.scss';

#intro-companies,
#how-it-works {
  margin-top: 24px;
  margin-bottom: 48px;
}

#intro-opening-1, #intro-opening-2 {
  box-shadow: 5px 10px 10px rgb(112 144 176 / 20%);
}

.intro-text-wrapper {
  // background-color: #ffffff10;
  // backdrop-filter: blur(14px);
  // -webkit-backdrop-filter: blur(14px);
  border-radius: 8px;
  margin: auto;
  padding: 12px;

  .intro-call-to-action {
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1.75px;
    line-height: 60px;
    text-decoration: unset;
  }
}

.intro-image-1, .intro-image-2 {
  display: flex;
  overflow: hidden;

  img {
    border-radius: 8px;
    width: 100%;
    object-fit: contain;
  }
}

#intro-hero,
#intro-opening {
  padding: 0;
}

#intro-opening-2 {
  background-color: cornflowerblue;
  color: azure;
}

.intro-list, .intro-heading-2 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.25px;
  line-height: 28px;
  text-align: left;
  text-decoration: unset;
}

.homepage-about-companies {
  width: 301px;
  height: 260px;
  object-fit: contain;
  object-position: center center;
}

#intro-companies {
  background-image: url("../../../public/assets/images/companies-hero-edited.png");
  background-position: right -200px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
}

.companies-heading {
  font-size: 52px;
  line-height: 1.25em;
}

.consultant-desc {
  background-color: white;
  box-shadow: 5px 10px 10px rgb(112 144 176 / 20%);
}

.how-it-works-intro {
  align-items: center;
  min-height: 360px;
}

.how-it-works-img {
  object-fit: contain;
  width: 100%;
}

.how-it-works-heading {
  font-size: 32px;
  font-weight: 700;
}

.how-it-works-description {
  font-size: 18px;
}

.services-list {
  flex-direction: column;

  li {
    list-style: none;
    padding: 12px 12px 12px 0;
  }

  .service-package {
    align-items: center;
    display: flex;
    flex-direction: row;

    .service-icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}

@media screen and (max-width: 480px) {
  #intro-opening-1 {
    color: azure;
    height: 100%;
    position: relative;
  }

  #intro-hero {
    flex-direction: column-reverse;
    padding-top: 50px;
  }

  .intro-text-wrapper {
    width: 100%;

    .intro-call-to-action {
      line-height: 1.2em;
      font-size: 32px;
      text-align: center;
    }
  }

  #intro-opening {
    flex-direction: column-reverse;
  }

  .intro-heading-2 {
    text-align: left;
  }

  .companies-heading {
    line-height: 1.25em;
    font-size: 20px;
    padding-top: 100px;
  }

  .package-title {
    font-size: 14px;
  }
}
