@import "../utilities/variables";
@import "../base/typography";

.card {
  border-radius: px2rem(8) !important;
  height: px2rem(600) !important;

  .card-title {
    font-size: px2rem(32) !important;
    text-align: center;
  }

  .plan-price {
    font-size: px2rem(24);
  }

  .plan-valid-period {
    font-size: px2rem(16);
    font-weight: lighter;
    font-style: italic;
  }
}

@media screen and (max-width: px2rem(480)) {
  .packages-row {
    flex-direction: column;
  }
}
