.card-title {
  font-size: px2rem(20);
  font-weight: normal;
  text-align: center;
}

.pricing-list {
  list-style: none;
}

.package-pricing {
  height: px2rem(230);
  padding: px2rem(25);

  .price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: px2rem(40);
    text-align: center;
  }

  .denomination {
    font-size: px2rem(20);
  }

  .pricing-interval {
    font-size: px2rem(12);
    text-align: center;
    margin-bottom: px2rem(6);
  }

  .pricing-blurb {
    font-size: px2rem(14);
    text-align: center;
    margin-bottom: px2rem(6);
  }
}

.select-page-button {
  width: 100%;
}

.package-content-list {
  display: block;
  padding: px2rem(30);

  li {
    font-size: px2rem(15);
    font-weight: 400;
    list-style: none;
    margin-bottom: px2rem(8);
    text-align: center;
  }
}
