@import "./base/index";
@import "./utilities/index";
@import "./pages/index";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

hr {
  border: px2rem(1) solid #e1e3ea !important;
  margin-top: px2rem(24);
  margin-bottom: px2rem(24);
}
