@import "../../styles/utilities";
@import "../../styles/base";

.navbar {
  background-color: #f5f5f5;

  .nav-link {
    @extend .link-black;
    font-weight: 500;
    font-size: px2rem(18);
    margin-right: px2rem(32);
  }

  .navbar-brand {
    font-size: px2rem(26);
    font-weight: 600;
    margin-right: px2rem(48);
    text-decoration: none;
  }
}

#offcanvasNavbar {
  width: 100%;

  .offcanvas-header {
    padding-top: px2rem(24);
    padding-bottom: px2rem(24);

    #offcanvasNavbarLabel {
      font-size: px2rem(24);
    }
  }

  .btn-close {
    opacity: 1 !important;
  }

  .offcanvas-body {
    padding: 0;
    margin: px2rem(20) px2rem(30);

    .offcanvas-link {
      border-radius: px2rem(6);
      font-size: px2rem(14);
      font-weight: 500;
      margin: px2rem(16) 0;
      text-align: left;
      text-decoration: none;
    }
  }
}
